@import "tailwindcss";

@theme inline {
  --color-background: #1d3557;
  --color-foreground: #f1faee;
  --color-mRed: #e63946;
  --color-mLightBlue: #a8dadc;
  --color-mGrey: #778da9;
  --color-mGreen: #2a9d8f;
}